[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
jupyterlab = "*"
ipywidgets = "*"
tqdm = "*"
numpy = "*"
jupyter-client = "*"
jupyter-server = "*"
jupyterlab-link-share = "*"
jupyter-collaboration = "*"

[dev-packages]

[requires]
python_version = "3.11"
